<div *ngIf="authService.loggedIn">
  <main role="main" class="container vw-85 pb-5">
    <div class="card bg-primary border-0 rounded-1">
      <div class="card-body p-0">
        <h4 class="card-title fw-bold p-4 mb-0">Change Preview - Structural/Query Changes </h4>
        <div class="px-4">
          <div class="alert alert-primary border-0 shadow-sm" role="alert">
            <div class="row">
              <div class="col-auto pe-0"><span><i class="fas fa-flag"></i></span></div>
              <div class="col">
                <p>
                  Note: Change previews are not an accurate representation of the current eCR trigger codes that will be
                  in a production release. They are intended for high-level review of structural changes to the
                  metadata, targeted at implementers who may find their application logic affected.
                </p>
                <span>
                  The preview(s) are under development and subject to change.
                </span>
              </div>
            </div>
          </div>

          <div class="card border-0 mb-4">
            <div class="card-body m-3">
              <div *ngIf="!loading">
              <div  *ngIf="!filesExist; else filesExistBlock" class="row">
                <div class="col-12 flex-column d-flex fw-light justify-content-center align-items-center">
                  <div class="fs-5">No previews available at this time.</div>
                  <div>Let's go back <a class="link-secondary text-decoration-none" routerLink="/home">home</a>.</div>
                </div>
              </div>

              <ng-template #filesExistBlock>
              <div>
                <!-- Hide nav block if not change preview notes -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li *ngIf="markdownContentV2" class="nav-item" role="presentation">
                    <button (click)="setVersion($event)" value="ersdv2-draft"
                      class="nav-link {{ markdownContentV2 ? 'active' : '' }}" id="home-tab" data-bs-toggle="tab"
                      data-bs-target="#ersdv2" type="button" role="tab" aria-controls="home" aria-selected="true">eRSD
                      Version 2</button>
                  </li>
                  <li *ngIf="markdownContentV3" class="nav-item" role="presentation">
                    <button (click)="setVersion($event)" value="ersdv3-draft"
                      class="nav-link {{ markdownContentV2 ? '' : 'active' }}" id="profile-tab" data-bs-toggle="tab"
                      data-bs-target="#ersdv3" type="button" role="tab" aria-controls="profile"
                      aria-selected="false">eRSD Version 3</button>
                  </li>
                </ul>
                <div class="tab-content p-3" id="myTabContent">
                  <div class="tab-pane fade {{ markdownContentV2 ? 'show active' : '' }}" id="ersdv2" role="tabpanel"
                    aria-labelledby="ersdv2-tab" *ngIf="markdownContentV2">
                    <div class="d-flex flex-column flex-md-row align-items-start">
                      <button type="button" class="btn btn-secondary order-md-1 mb-2" style="min-width: 200px;"
                        data-bs-toggle="modal" data-bs-target="#downloadModal">
                        <i class="fas fa-file-download me-2"></i> Download Files
                      </button>
                      <div style="max-width: 82.35%;" class="flex-md-grow-1  pe-3 pe-md-0" markdown [data]="markdownContentV2"
                        [disableSanitizer]="true"></div>
                    </div>
                  </div>
                  <div class="tab-pane fade {{ markdownContentV2 ? '' : 'show active' }}" id="ersdv3" role="tabpanel"
                    aria-labelledby="ersdv3-tab" *ngIf="markdownContentV3">
                    <div class="d-flex flex-column flex-md-row align-items-start">
                      <button type="button" class="btn btn-secondary order-md-1 mb-2" style="min-width: 200px;"
                        data-bs-toggle="modal" data-bs-target="#downloadModal">
                        <i class="fas fa-file-download me-2"></i> Download Files
                      </button>
                      <div style="max-width: 82.35%;" class="flex-md-grow-1  pe-3 pe-md-0" markdown [data]="markdownContentV3"
                        [disableSanitizer]="true"></div>
                    </div>
                  </div>
                </div>
              </div>
              </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" #modalAcknowledgement id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="downloadModalLabel">Download Change Preview</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="checkboxAgreement" (change)="setAcknowledgement($event)">
          <label class="form-check-label" for="checkboxAgreement">
            I acknowledge that this preview is for development purposes and does not include current trigger codes for
            production use.
          </label>
        </div>

      </div>
      <div class="modal-footer">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-3">
          <button name="json" style="width: 100px;" class="btn btn-secondary me-md-2"
            (click)="getReleasePreview($event)" [disabled]="(isDisabled)">JSON</button>
          <button name="xml" style="width: 100px;" class="btn btn-secondary" (click)="getReleasePreview($event)"
            [disabled]="(isDisabled)">XML</button>
        </div>
      </div>
    </div>
  </div>
</div>