stages:
  - build

variables:
  ECR_REGISTRY: "703861148810.dkr.ecr.us-east-1.amazonaws.com"
  ECR_REPO: "kds/kds-portal"
  AWS_DEFAULT_REGION: "us-east-1"

build-and-push:
  stage: build
  image: docker:26
  services:
    - docker:26-dind
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
  before_script:
    - apk add --no-cache aws-cli
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION |
        docker login --username AWS --password-stdin $ECR_REGISTRY
  script:
    - IMAGE="${ECR_REGISTRY}/${ECR_REPO}:${CI_COMMIT_TAG}"
    - docker build -t "$IMAGE" .
    - docker push "$IMAGE"
