nav li {
  white-space: pre;
}

div.footer {
  /* position: fixed;
  bottom: 0px;
  left: 0px; */
  height: 47px;
  width: 100%;
  background-color: transparent;
  padding: 5px;
}

.clickable {
  cursor: pointer;
}

.card {
  margin-bottom: 10px;
}

.modal-content {
  max-width: 1140px !important;
  height: 100% !important;
  overflow-y: scroll !important;
  position: absolute !important;
  top: 0 !important;
  background-color: transparent !important;
  border: none !important;
}

.modal-footer {
  border: none !important;
}


.btn-primary {
  color: #fff;
  background-color: #b12c36 !important;
  border-color: #b12c36 !important;
}

.custom-class {
  background-color:red;
}

.tab-pane.active > div.card:first-child {
  margin-top: 10px;
}

/*noinspection ALL*/
.tab-pane {
  padding-top: 10px;
}

nav .nav-link, .navbar-brand {
  font-family: Lucida Bright,Georgia,serif;
  font-weight: bold;
  color: white !important;
}

.bg-aims {
  background-color: #30B1BD !important;
}

.jumbotron {
  background-color: #F8F9F9 !important;
}

.modal-dialog {
  height: 100%;
  margin: 0 auto;
}

.register-button {
  background-color: #b12c36 !important;
  color: white !important;
}

.register-button:hover {
  background-color: #87111A !important;
  color: white !important;
}

.register-button:disabled {
  background-color: #D7525C !important;
  color: white !important;
}

.save-button {
  background-color: #b12c36 !important;
  color: white !important;
}

.save-button:hover {
  background-color: #87111A !important;
  color: white !important;
}

.help-block {
  margin: 15px;
  color: gray;
}
