/* Custom CSS variables */
:root {
  --primary-color: #EBF6F7;
  --primary-alt-color: #d8eeef;
  --primary-header-color: #3aa5ab4d;
  --secondary-color: #EC1212;
  --secondary-alt-color: #D41010;
  --tertiary-color: #3AA5AB;
  --tertiary-alt-color: #4DAEB3;
  --icon-color: #3AA5AB;
  --text-color-dark: #094045;
  --text-color-light: #FFFFFF;
  --primary-alert-color: #3ba6ab1a;
  --primary-alert-alt-color: #3aa5ab4d;
  --font-color: #010b0c;
}

body {
  color: var(--font-color);
 }
 
 .bg-primary{
   background-color: var(--primary-color) !important;
 }
 
 .bg-primary-heading, .sidebar-primary{
   background-color: var(--primary-header-color) !important;
 }
 
 .alert-primary {
   color: var(--font-color)! important;
   background-color: var(--primary-alert-color);
   /* background-color: var(--primary-header-color) !important; */
 }
 
 .fa-info-circle, .fa-ellipsis-v {
   color: var(--tertiary-color);
 }
 
 .fa-exclamation-triangle, .fa-flag{
   color: #EDAF10;
 }


 

/* Old styles below */
nav li {
  white-space: pre;
}

div.footer {
  /* position: fixed;
  bottom: 0px;
  left: 0px; */
  height: 47px;
  width: 100%;
  background-color: transparent;
  padding: 5px;
}

.clickable {
  cursor: pointer;
}

/* .card {
  margin-bottom: 10px;
} */

/* .modal-content {
  max-width: 1140px !important;
  height: 100% !important;
  overflow-y: scroll !important;
  position: absolute !important;
  top: 0 !important;
  background-color: transparent !important;
  border: none !important;
}

.modal-backdrop {
  z-index: 1 !important;
}

.modal-footer {
  border: none !important;
} */


/* .btn-primary {
  color: #fff;
  background-color: #b12c36 ;
  border-color: #b12c36 ;
} */

.custom-class {
  background-color:red;
}

.tab-pane.active > div.card:first-child {
  margin-top: 10px;
}

/*noinspection ALL*/
.tab-pane {
  padding-top: 10px;
}

.bg-aims {
  background-color: #30B1BD !important;
}

.jumbotron {
  background-color: #F8F9F9 !important;
  text-align: center;
  margin: 0 auto;
}

/* .modal-dialog {
  height: 100%;
  margin: 0 auto;
} */

.register-button {
  background-color: #b12c36 !important;
  color: white !important;
}

.register-button:hover {
  background-color: #87111A !important;
  color: white !important;
}

.register-button:disabled {
  background-color: #D7525C !important;
  color: white !important;
}

.save-button {
  background-color: #b12c36 !important;
  color: white !important;
}

.save-button:hover {
  background-color: #87111A !important;
  color: white !important;
}

.help-block {
  margin: 15px;
  color: gray;
}

.btn-danger {
  margin-left: 10px !important;
}

.app-container {
  position: relative;
}

.ersd-footer {
  margin-top: 10px;
  font-size: 0.9rem;
  padding-bottom: 10px;
  color: rgba(255,255,255, 0.8);
  font-weight: 300;
  text-align: center;
  line-height: 15px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 50px;
}

.ersd-footer-version {
  background-color: #eeeeee;
}

.footer-heading {
  font-size: .9rem;
  color: white;
  font-weight: 500;
  line-height: 50px;
}

.footer-contact-email {
  color: white;
  font-weight: 600;
  font-size: .9rem;
  text-decoration: none;
}

.footer-contact-email:hover {
  color: #b12c36;
}

.home-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 3rem;
  padding: 75px 50px 300px 50px;
  margin: 0 auto;
}


.home-grid-item:hover  {
   transform: scale(1.1, 1.1);
}

.home-grid-item-1:hover  {
   transform: scale(1, 1);
}

.home-grid-item-1 {
  grid-column: 1 / span 3;
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: 200;
  box-shadow: none;
  border: none;
  margin-top: 20px;
  margin-bottom: 0px;
}

.home-grid-item-1 img {
  height: 100px;
}

.page-info {
  grid-column: 1 / span 3;
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: 300;
  box-shadow: none;
  border: none;
  margin-top: -40px;
}

.page-info p {
  font-size: 0.9rem;
  font-weight: 300;

}

.page-info-email {
  color: white;
  font-weight: 600;
  font-size: .9rem;
  text-decoration: none;
}

.page-info-email:hover {
  color: #b12c36;
}

.page-info-heading {
  font-weight: 600;
}

.unauthenticated-message {
  grid-column: 1 / span 3;
  width: 100%;
  background-color: #F8F9F9 !important;
  text-align: center;
  margin: 0 auto;
  padding: 20px 50px;
  border-radius: 5px;
}
