<h2>FHIR Server</h2>

<div class="alert" *ngIf="message" [class.alert-success]="!messageIsError" [class.alert-danger]="messageIsError">{{message}}</div>

<div class="alert alert-info">
  <p>The base address for the FHIR server is: <strong><a href="{{baseAddress}}" target="_new">{{baseAddress}}</a></strong></p>
  <p>The FHIR server cannot be accessed with authentication. To authenticate, specify an API key in the field below and "Save" the API key so that it is associated with your user/profile. When making a request to the FHIR server specified above, include an "Authorization" header with a value of "Bearer XXX".</p>
  <p class="example-authorization" *ngIf="apiKeys.inbound"><strong>Authorization: Bearer {{apiKeys.inbound}}</strong></p>
  <p>
    Alternatively, you may specify the API key in an query parameter as part of the URL for the request: <br/>
    <a href="{{baseAddress}}/metadata?api-key={{apiKeys.inbound}}" target="_new">{{baseAddress}}/metadata?api-key={{apiKeys.inbound}}</a>
  </p>
</div>

<div class="form-group">
  <label for="inboundApiKey">Inbound API Key</label>
  <div class="input-group">
    <input id="inboundApiKey" type="text" class="form-control" [(ngModel)]="apiKeys.inbound" />
    <div class="input-group-btn">
      <button type="button" class="btn btn-dark" (click)="apiKeys.inbound = generateKey()">Re-generate</button>
    </div>
  </div>
</div>

<p>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</p>
