input[type=text] {
  font-family: monospace;
  font-size: 16px;
}

.example-authorization {
  word-break: break-all;
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
}

.api-keys-container {
  padding: 170px 0;
  position: relative;
}

.section-heading {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.7rem;
  position: relative;
  letter-spacing: 7px;
}

.section-heading::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 1.5px;
  background-color: #fff;
  opacity: 0.3;
  top: 46px;
  left: -20px;
}

.heading-container {
  position: absolute;
  top: 90px;
  left: 0;
}

.api-key-label {
  color: white;
}

.api-keys-info {
  margin: 0px 0px 30px 0px;
}

.red-text {
  color: #FF0000
}

.specification-item {
  list-style-type: none;
}

.current-link {
  margin-bottom: 0;
}

/* New code */
.btn-secondary {
  --bs-btn-color: var(--text-color-light); 
  --bs-btn-bg: var(--secondary-color); 
  --bs-btn-border-color: var(--secondary-color) !important;
  
  --bs-btn-hover-color: var(--text-color-light); 
  --bs-btn-hover-bg: var(--secondary-alt-color); 
  --bs-btn-hover-border-color: var(--secondary-alt-color);
  
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  
  --bs-btn-active-color: var(--text-color-light); 
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  
  /* --bs-btn-disabled-color: var(--text-color); 
  --bs-btn-disabled-bg: #var(--primary-color); 
  --bs-btn-disabled-border-color: var(--icon-color); */
  }