<!DOCTYPE html>
<!--suppress SyntaxError -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERSD Contact Information Expired</title>
</head>
<body>

<p>Hi {first_name},</p>

<p>Your contact information expired on {expiration_date}. You will not receive notifications from Electronic Reporting and Surveillance Distribution until you have logged into the ERSD portal and updated your contact information.</p>
<p>You may follow <a href="{portal_link}">this link</a> to access the ERSD Portal.</p>

<p>Thank You,<br/>ERSD Team</p>

</body>
</html>
