<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KDS Contact Information Expired</title>
</head>
<body>

<p>Hi {first_name},</p>

<p>Your contact information expired on {expiration_date}. You will not receive notifications from Knowledge Distribution Services until you have logged into the KDS portal and updated your contact information.</p>
<p>You may follow <a href="{kds_link}">this link</a> to access the KDS Portal.</p>

<p>Thank You,<br/>KDS Team</p>

</body>
</html>
