<!DOCTYPE html>
<!--suppress SyntaxError -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eRSD Contact Information Expiring</title>
</head>
<body>

<p>Hi {first_name},</p>

<p>Your contact information is going to expire on {expiration_date}. After this date, you will not receive notifications from Electronic Reporting and Surveillance Distribution until you have logged into the eRSD portal and updated your contact information.</p>
<p>You may follow <!--suppress HtmlUnknownTarget -->
  <a href="{portal_link}">this link</a> to access the eRSD Portal.</p>

<p>Thank You,<br/>eRSD Team</p>

</body>
</html>
