table > thead > tr > th:last-child {
  width: 105px;
}

.admin-container {
  padding: 170px 50px;
  position: relative;
  
}

.admin-users-container {
  background-color: rgba(222, 226, 230, 1);
  padding: 50px;
}

.section-heading {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.7rem;
  position: relative;
  letter-spacing: 7px;
}

.section-heading::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 1.5px;
  background-color: #fff;
  opacity: 0.3;
  top: 46px;
  left: -20px;
}

.heading-container {
  position: absolute;
  top: 90px;
  left: 0;
}

.attachment-button {
  float: right;
}

.form-control {
  height: initial;
}

.btn-primary {
  color: #fff;
  background-color: #b12c36 ;
  border-color: #b12c36 ;
} 