table > thead > tr > th:last-child {
  width: 105px;
}

.admin-container {
  padding: 170px 50px;
  position: relative;
  
}

.admin-users-container {
  background-color: rgba(222, 226, 230, 1);
  padding: 50px;
}

.section-heading {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.7rem;
  position: relative;
  letter-spacing: 7px;
}

.section-heading::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 1.5px;
  background-color: #fff;
  opacity: 0.3;
  top: 46px;
  left: -20px;
}

.heading-container {
  position: absolute;
  top: 90px;
  left: 0;
}

.attachment-button {
  float: right;
}

.form-control {
  height: initial;
}


.btn-secondary {
  --bs-btn-color: var(--text-color-light); 
  --bs-btn-bg: var(--secondary-color); 
  --bs-btn-border-color: var(--secondary-color) !important;
  
  --bs-btn-hover-color: var(--text-color-light); 
  --bs-btn-hover-bg: var(--secondary-alt-color); 
  --bs-btn-hover-border-color: var(--secondary-alt-color);
  
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  
  --bs-btn-active-color: var(--text-color-light); 
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  
  /* --bs-btn-disabled-color: var(--text-color); 
  --bs-btn-disabled-bg: #var(--primary-color); 
  --bs-btn-disabled-border-color: var(--icon-color); */
  }

  .btn-tertiary {
    --bs-btn-color: var(--text-color-dark); 
    --bs-btn-bg: var(--primary-alert-color); 
    --bs-btn-border-color: var(--tertiary-color);
    
    --bs-btn-hover-color: var(--text-color-dark); 
    --bs-btn-hover-bg: var(--primary-alert-alt-color); 
    --bs-btn-hover-border-color: var(--tertiary-color);
    
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    
    --bs-btn-active-color: var(--text-color-dark); 
    --bs-btn-active-bg: var(--primary-alert-color);
    --bs-btn-active-border-color: var(--tertiary-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    
    /* --bs-btn-disabled-color: var(--text-color); 
    --bs-btn-disabled-bg: #var(--primary-color); 
    --bs-btn-disabled-border-color: var(--icon-color); */
    } 
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--secondary-color); 
  }

  .nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius);
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--text-color-dark);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}



  .circle-btn {
    border-radius: 50%;
  }


  .modal-content {
    border: none;
  }

.modal-dialog {
margin-top: 15px;
margin-bottom: 15px;
  }

  .modal { overflow-y: auto !important; }

  .alert-link {
    color: var(--font-color) !important;
  }

  .alert-primary {
    color: var(--font-color)! important;
    background-color: var(--primary-alert-color);
    /* background-color: var(--primary-header-color) !important; */
  }