<div class="card bg-primary border-0">
    <div class="card-body p-0">
        <div class="p-4 mb-4">
            <div class="row px-3" style="min-height: 500px;">
                <div class="col-12 flex-column d-flex fw-light justify-content-center align-items-center mb-3">
                    <div class="fs-5">Hmmm! Looks you don't have the right access level.</div>
                    <div>Let's go back <a class="link-secondary text-decoration-none" routerLink="/home">home</a>.</div>
                </div>
                <div class="col-12">
                    <img class="img-fluid" src="/assets/error-401.svg" alt="no-preview" />
                </div>
            </div>
        </div>
    </div>
</div>