
/* repeated */
.link-primary {
  color: var( --text-color-dark) !important;
  text-decoration-color: var(--text-color-dark) !important;
}

.link-primary:focus, .link-primary:hover {
  color: #094045b0!important;
  text-decoration-color: #094045b0 !important;
}