<div class="home-grid-container" *ngIf="authService.loggedIn">
  <div class="home-grid-item home-grid-item-1">
    <img src="../../assets/ersd-logo-full.png" />
  </div>
  <!-- <ersd-update-notice></ersd-update-notice> -->
  <div class="page-info">
    <p>
      This site provides access to the eRSD specifications for electronic Case Reporting (eCR).
      The eRSD is used to guide triggering and reporting of initial case reports within participating Electronic Health Records.
      For more information, please visit
      <a
        class="page-info-email"
        href="https://ecr.aimsplatform.org/ehr-implementers/triggering/"
        >https://ecr.aimsplatform.org/ehr-implementers/triggering/</a
      >. The site may also contain specifications for other public health reporting programs and pilots.
    </p>
    <div *ngIf="authService.loggedIn">
      <ersd-spec-download></ersd-spec-download>
    </div>
  </div>

  <div class="home-grid-item">
    <a routerLink="/subscription">
      <div class="home-grid-item-container">
        <i class="fas fa-inbox"></i>
        <p>
          Notification<br />
          Management
        </p>
      </div>
    </a>
  </div>
  <div class="home-grid-item">
    <a routerLink="/api-keys">
      <div class="home-grid-item-container">
        <i class="fas fa-server"></i>
        <p>Polling Management</p>
      </div>
    </a>
  </div>
  <div class="home-grid-item">
    <a routerLink="/contact-info">
      <div class="home-grid-item-container">
        <i class="fas fa-cog"></i>
        <p>Settings</p>
      </div>
    </a>
  </div>
</div>
