<div class="home-grid-container" *ngIf="authService.loggedIn">
  <div class="home-grid-item home-grid-item-1">
    <img src="../../assets/ersd-logo-full.png" />
  </div>

  <div class="page-info">
    <p>
      This site provides access to the current eRSD specification (including the current Reportable Condition Trigger
      Code (RCTC) value sets) for Electronic Case Reporting (eCR). The eRSD is used to guide triggering and reporting
      of initial case reports within participating Electronic Health Records. For more information, please visit
      <a
        class="page-info-email"
        href="https://ecr.aimsplatform.org/ehr-implementers/triggering/"
        >https://ecr.aimsplatform.org/ehr-implementers/triggering/</a
      >.
    </p>
    <p>
      <span class="page-info-heading">Registration</span> – If this is your first time visiting the site, please
      register for an account. Registration is needed so we have contact information to alert you for subsequent routine
      and emergent updates.
    </p>

    <p>
      <span class="page-info-heading">Access to Content</span> - Once registered, you can choose to receive content
      through subscription (email, SMS, or REST) or polling of the eRSD server. You will also be able to choose whether
      you receive the content in XML or JSON format.
    </p>
    <div *ngIf="authService.loggedIn">
      <span><button type="button" class="btn download-button" (click)="downloadJsonBundle()">Download Latest eRSD JSON Payload</button></span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span><button type="button" class="btn download-button" (click)="downloadXmlBundle()">Download Latest eRSD XML Payload</button></span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span><button type="button" class="btn download-button" (click)="downloadExcel()">Latest RCTC Spreadsheet & Change Log</button></span>

    </div>
  </div>

  <div class="home-grid-item">
    <a routerLink="/subscription">
      <div class="home-grid-item-container">
        <i class="fas fa-inbox"></i>
        <p>
          Subscription<br />
          Management
        </p>
      </div>
    </a>
  </div>
  <div class="home-grid-item">
    <a routerLink="/api-keys">
      <div class="home-grid-item-container">
        <i class="fas fa-server"></i>
        <p>Polling Management</p>
      </div>
    </a>
  </div>
  <div class="home-grid-item">
    <a routerLink="/contact-info">
      <div class="home-grid-item-container">
        <i class="fas fa-cog"></i>
        <p>Settings</p>
      </div>
    </a>
  </div>
  <ersd-update-notice></ersd-update-notice>
</div>
