<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subscription">Subscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/api-keys">API Keys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-info">Contact Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-info">
          <i class="fas fa-user"></i> Some User
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="fas fa-sign-out-alt"></i> Sign out
        </a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="jumbotron">
    <router-outlet></router-outlet>
  </div>
</main>
