nav {
  margin-bottom: 0px;
  background-image: url(../assets/nav-bg.png);
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
}

nav > a > img {
  position: absolute;
  width: 45px;
  height: 45px;
  margin-top: -7px;
}

nav > a > span {
  margin-left: 45px;
}

nav > li > a {
  color: black;
}


.app-container {
  background-color: red;
  min-height: 100vh;
  min-width: 100vw;
  background: url(../assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Work Sans', sans-serif;
}

main.container {
  /* padding: 100px 0px; */
  /* margin: 0 auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.nav-link {
  color: black;
  font-family: 'Work Sans', sans-serif;
}
