.app-container {
  min-height: 100vh;
  background: url(../assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Work Sans', sans-serif;
}

.container {
  padding-top: 40px;
}

a {
  color:  var(--font-color);
  text-decoration: underline;
  background-color: transparent;
}

nav {
  margin-bottom: 0px;
  background-image: url(../assets/nav-bg.png);
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}


nav > a > span {
  margin-left: 45px;
}

nav > li > a {
  color: black;
}

.ersd-logo {
  height: 40px;
}

/* Old code below */
.nav-link {
  color: black;
  font-family: 'Work Sans', sans-serif;
}



.ersd-bg-img {
  padding-top: 150px;
}

.ersd-bg-img > img {

  display: block;
  height: 100px;
  margin: auto;
  margin-bottom: 100px;
}

/* repeated */
.link-primary {
  color: var( --text-color-dark) !important;
  text-decoration-color: var(--text-color-dark) !important;
}

.link-primary:focus, .link-primary:hover {
  color: #094045b0!important;
  text-decoration-color: #094045b0 !important;
}