<div class='app-container'>
  <nav class="navbar navbar-expand-md navbar-dark bg-aims">
    <a class="navbar-brand" href="#" title="Electronic Reporting and Surveillance Distribution">
      <img class='ersd-logo' src="/assets/ersd-logo.png" />
     
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="homeLink.isActive">
          <a class="nav-link" routerLink="/home" routerLinkActive #homeLink="routerLinkActive">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn" [class.active]="subscriptionLink.isActive">
          <a class="nav-link" routerLink="/subscription" routerLinkActive #subscriptionLink="routerLinkActive">Subscription</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn" [class.active]="apiKeysLink.isActive">
          <a class="nav-link" routerLink="/api-keys" routerLinkActive #apiKeysLink="routerLinkActive">FHIR Server</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn" [class.active]="contactInfoLink.isActive">
          <a class="nav-link" routerLink="/contact-info" routerLinkActive #contactInfoLink="routerLinkActive">Contact Info</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn && authService.isAdmin" [class.active]="adminLink.isActive">
          <a class="nav-link" routerLink="/admin" routerLinkActive #adminLink="routerLinkActive">Admin</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="authService.loggedIn">
          <a class="nav-link" routerLink="/contact-info">
            <i class="fas fa-user"></i>
            {{authService.fullName}}
          </a>
        </li>
        <li class="nav-item clickable" *ngIf="authService.loggedIn">
          <a class="nav-link" (click)="authService.logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
        <li class="nav-item clickable" *ngIf="!authService.loggedIn">
          <a class="nav-link" (click)="authService.login()">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>
        <li class="nav-item clickable" *ngIf="!authService.loggedIn">
          <a class="nav-link" (click)="authService.register()">
          <i class="fas fa-user-plus"></i> Register>
        </li>
      </ul>
    </div>
  </nav>
  
  <main role="main" class="container">
    <div *ngIf="homeLink.isActive || authService.person">
      <router-outlet></router-outlet>
    </div>
    <div class="jumbotron" *ngIf="!homeLink.isActive && !authService.loggedIn">
      <h3>You are not currently logged in. Please <a href="javascript:void(0)" (click)="authService.login()">login</a> to continue.</h3>
    </div>
  </main>
  
</div>
