<nav class="navbar navbar-expand-md navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" title="Electronic Reporting and Surveillance Distribution">
      <img class="ersd-logo" src="/assets/ersd-logo-full.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="authService.loggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" [class.active]="homeLink.isActive">
          <a class="nav-link" routerLink="/home" routerLinkActive #homeLink="routerLinkActive">Home<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [class.active]="apiKeysLink.isActive">
          <a class="nav-link" routerLink="/api-keys" routerLinkActive #apiKeysLink="routerLinkActive">Polling</a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn btn-sm btn-primary rounded-pill" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{ authService.fullName }} <i class="fas fa-ellipsis-v px-1"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end shadow-sm border-0">
          <li *ngIf="authService.loggedIn && authService.isAdmin">
            <a routerLink="/admin" class="dropdown-item">
              <div class="row align-items-center">
                <div class="col-auto pe-0">
                  <span><i class="fas fa-users-cog"></i></span>
                </div>
                <div class="col">
                  Admin
                </div>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/user-profile" class="dropdown-item">
              <div class="row align-items-center">
                <div class="col-auto pe-0">
                  <span><i class="fas fa-user"></i></span>
                </div>
                <div class="col">
                  Profile
                </div>
              </div>
            </a>
          </li>
          <li>
            <button type="button" class="dropdown-item" (click)="authService.logout()">
              <div class="row align-items-center">
                <div class="col-auto pe-0">
                  <span><i class="fas fa-sign-out-alt"></i></span>
                </div>
                <div class="col">
                  Sign Out
                </div>
              </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>