.btn-dashed {
  border: 1px dashed var(--tertiary-color); /* Set border as dashed and adjust color */
}


  .btn-check+.btn:hover {
    color: var(--text-color-dark); 
    background-color: var(--primary-alert-alt-color); 
    border-color: var(--tertiary-color);
}

.btn-secondary {
  --bs-btn-color: var(--text-color-light); 
  --bs-btn-bg: var(--secondary-color); 
  --bs-btn-border-color: var(--secondary-color) !important;
  
  --bs-btn-hover-color: var(--text-color-light); 
  --bs-btn-hover-bg: var(--secondary-alt-color); 
  --bs-btn-hover-border-color: var(--secondary-alt-color);
  
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  
  --bs-btn-active-color: var(--text-color-light); 
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  
  /* --bs-btn-disabled-color: var(--text-color); 
  --bs-btn-disabled-bg: #var(--primary-color); 
  --bs-btn-disabled-border-color: var(--icon-color); */
  }

.form-check-input:checked {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  }
  
  .form-check-input:focus {
  border-color: var( --tertiary-alt-color);
  outline: 0;
  box-shadow: 0 0 0 .25rem #4DAEB34D;
  }

  

  .btn-tertiary {
    --bs-btn-color: var(--text-color-dark); 
    --bs-btn-bg: var(--primary-alert-color); 
    --bs-btn-border-color: var(--tertiary-color);
    
    --bs-btn-hover-color: var(--text-color-dark); 
    --bs-btn-hover-bg: var(--primary-alert-alt-color); 
    --bs-btn-hover-border-color: var(--tertiary-color);
    
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    
    --bs-btn-active-color: var(--text-color-dark); 
    --bs-btn-active-bg: var(--primary-alert-color);
    --bs-btn-active-border-color: var(--tertiary-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    
    /* --bs-btn-disabled-color: var(--text-color); 
    --bs-btn-disabled-bg: #var(--primary-color); 
    --bs-btn-disabled-border-color: var(--icon-color); */
    }