
<!-- This template is used for the Edit User modal on the Admin page -->
<div>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="editContactModelLabel">Edit User Info</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body py-3 px-5">
    <div class="alert alert-danger" *ngIf="message">{{message}}</div>
    <ersd-edit-person *ngIf="person" [person]="person" #editPerson></ersd-edit-person>
  </div>
  <div class="modal-footer">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button id="saveBtn" type="button" class="btn btn-secondary" style="width: 150px" [disabled]="!isValid || !editPersonField.isFormDirty()" (click)="save()">
        <ng-container *ngIf="!loading; else loadingSpinner">
          <i class="fas fa-save me-1"></i>
        </ng-container>
        <ng-template #loadingSpinner>
          <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
        </ng-template>
        <span>Save</span>
      </button>


      <button id="cancelBtn" type="button" class="btn btn-tertiary" style="width: 150px"
        (click)="activeModal.dismiss()">
        <span>
          <i class="fas fa-window-close me-1"></i>
          <span>Cancel</span>
        </span>
      </button>
    </div>
  </div>
</div>